
.container{
    background-color: #130f40;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 5px;
    margin-top: 10%;
}

.container > div{
    margin: 10px;
    font-size: 8vw;
}
